.searchBar {
  form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;

    input[type="text"],
    select {
      padding: 9px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .resetBtn {
      background: #ababab;
      &:hover {
        background: #bebebe;
      }
    }
  }
}
